@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, html {
    overflow-x: hidden; /* Impede a rolagem horizontal */
}
body {
    font-family: Montserrat, sans-serif;
    background-color: #f8f9fa;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    margin-top: 140px;
}

.container h1 {
    font-weight: 700;
    font-size: 48px;
}

.container h2 {
    font-weight: 700;
    font-size: 30px;
}

.card:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: all 0.3s;
}

#contactUsContainer {
    flex-direction: column;
}

#aboutUsContainer {
    margin-top: 100px;
}

#imagePrato2 {
    margin-right: 125px;
}

#imagePrato1 {
    margin-left: 50px;
}
#foodCategory h5{
    font-weight: 700;
}

@media (max-width:996px ) {
    #foodCategory h5{
        font-size: 16px;
    }
}
@media (max-width:768px ) {
    #foodCategory h5{
        font-size: 24px;
    }
}